/* page options */
$pageZoom: 1; /* scales page */
$pageZoomOnWindows: 1.333; /* scales page on Windows */
$pageBorder: 0px; /* sets the border size of the page */

/* page dimension */
$pageWidth: calc(37.165417rem - $pageBorder * 2);
$pageHeight: calc(52.59375rem - $pageBorder * 2);

/* colors */
$greyLight: #d9d9d9;
$greyDark: #484343;
$greyVeryDark: #000000;
$blueLight: #5b9ec9;
